<a href="https://colab.research.google.com/github/JhanellaCoronado/CPE009A-OOP/blob/main/Demo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operations and Expressions in Python

Bool() Function

In [4]:
print(bool("Hello"))
print(bool(15))

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

True
True

False

In [5]:
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))

True
False
True
False

Functions can return a boolean

In [9]:
def myFunction():
  return True

print(myFunction())

True

You can execute code based on the Boolean answer of a function:

In [12]:
def myFunction():
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [13]:
def myFunction():
  return False

if myFunction():
  print("YES!")
else:
  print("NO!")

NO!

TRY

In [16]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Python Operators

In [18]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

Python Bitwise Operators

In [34]:
a= 60
b= 13


print(a|b)
print(a&b)
print(a^b)
print(~a)
print(a<<2)

61
12
49
-61
240

Python Assignment Operators

In [40]:
x=1

x+=3          #same As x = x + 3
print(x)

x-=3          #same As x = x - 3
print(x)

x*=3          #same As x = x * 3
print(x)

x/=3          #same As x = x / 3
print(x)

x%=3          #same As x = x % 3
print(x)

4
1
3
1.0
1.0

Logical Operators

In [50]:
y = 60
z = 13

print(y>z)                #True
print(z>y)                #False
print(y>z and z>y)        #True
print(y>z and z<y)        #True
print(y>z or z<y)         #True
print(not(y>z and z<y))   #False

True
False
False
True
True
False

Identity Operator

In [52]:
y = 60
z = 13

print(y is z)
print(y is not z)

False
True

Loop Statement

FOR loop

In [53]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2:The break statement

In [56]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)
  if x == "Thursday":
   break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3:The break statement

In [61]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)
  if x == "Wednesday":
   break
   print(x)

Sunday
Monday
Tuesday
Wednesday

Example 4:Looping through a string

In [60]:
for x in "week":
 print(x)

w
e
e
k

What if I only want to see thursday?

In [71]:
for x in week:
  if x=="Thursday":
   print(x)
   break

Thursday

The Range() Function

In [79]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)
for x in range(2,2,7):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nsted Loops

In [81]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Python While Loops

In [82]:
i = 1
while i<6:
  print(i)
  i += 1     #i+1 Assignment operator

1
2
3
4
5

The Break Statement

In [83]:
i = 1
while i<6:
  print(i)
  if i == 3:
    break
  i +=1

1
2
3

The Continue Statement

In [86]:
i = 0
while i<6:
  i += 1
  if i ==3:
    continue
  print(i)

1
2
4
5
6

The Else Statement

In [85]:
i = 1
while i<6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Let's Try

In [88]:
for i in range (0,11):
  print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10