<a href="https://colab.research.google.com/github/JhanellaCoronado/CPE009A-OOP/blob/main/demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [12]:
if 5>2:
 print("Five is greater than two")

Five is greater than two

Python Comments

In [13]:
if 5>2:
 print("Five is greater than two") #comparison of numbers 5 and 2

Five is greater than two

Python Variable

In [17]:
x=1 #this is a single variable with a value
a, b=0,-1

print(a)
print(b)
print(x)
b="Sally"

print(b)

0
-1
1
Sally

Python Casting

In [18]:
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type()Function

In [20]:
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double quotes or Single quotes

In [21]:
y="john"
print(y)
y='john'
print(y)

john
john

Case Sensitive

In [27]:
a = 4
A= "Sally"
#A will not overwrite a

Multiple Variables

In [24]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variable

In [28]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variable

In [32]:
x="enjoying"
print("Python programming is " + x)

Python programming is enjoying

Output Variable other way

In [35]:
x="Python is "
y="enjoying"
z=x+y
print(z)

Python is enjoying

Arithmetic Operations

In [36]:
x=5
y=3
print(x+y)

x=5
y=3
sum=x+y
sum

8

8

Assignment Operators

In [37]:
a,b,c=0,-1,6
c%=3
c

0

Comparison Operators

In [38]:
x=1
y=1
x==y

True

Logical Operators

In [43]:
x=1
x<5 and x<10

True

Identity Operators

In [44]:
x=1
y=1
x is y

True

In [47]:
a,b,c=0,-1,5
a is c

False

Bitwise Operators

In [48]:
1^2

3